### Build ###
target/
build/

### Maven Wrapper ###
.mvn/
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### VS Code ###
.vscode/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Spring Boot ###
*.pid
*.out

### Environment / Secrets ###
.env
application-local.properties
application-*.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Eclipse ###
.project
.factorypath
.classpath
.settings/
